*.class
*.iml
*.idea
*.ipr
*.iws
*.DS_Store
target
*.zip
*.classpath
*.project
*.settings
/bin
/*.pdf
/tester/*.pdf
/tester/src/test/resources/signers.properties
/tester/src/test/resources/signers.properties.*
.vscode/